@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	overflow: hidden;
	width   : 100%;
	height  : 100%;
	margin  : 0;
	padding : 0;
}

section {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	text-align: center;
}

h3 {
	margin-bottom: 10px;
}

button {
	width: 200px;
	height: 30px;
}

#renderCanvas {
	width   : 100%;
	height  : 100%;
	touch-action: none;
}

#foodDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	font-size: 28px;
	border: 1px solid black;
	background-color: white;
}

#sleepingDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: 100px;
	width: 200px;
	font-size: 100px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}